body{
    margin: 0mp;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header{
    background-color: #353a40;
    margin: 0;
}

.menu{
    background-color: #353a40;
    margin: 0rem;
    
}

.menub{
   padding-left: 5rem;
 
}

.tick-btn{
    color: rgb(51, 153, 51);
}

nav{
    display: block;
}

.conf{
    color: white;
    font-size: 20px;
    padding: 27px 0px 27px 100px ;
    background-image: url(../Images/codoacodo.png);
    background-size: 100px;
    background-position: 0px;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

.textoFoto{
    flex: content;
    text-align: right;
    
}

.orador-btn{
    padding: 0.5rem 1 rem;
    border-radius: 6px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 20px;
    color: white;
}

.tickets-btn{
    padding: 0.5rem 1 rem;
    border-radius: 6px;
    background-color: #96c93e;
    border-style: solid;
    border-width: 1px;
    background-color: #96c93e;
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.fotoBA{
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
    background-color: #353a3f;
}

.contenidoFoto{
    position: absolute;
    text-align: right;
    padding: 10rem 9rem 0rem 40rem;
     
}
/*
.titulo{
    font-weight: bold;
}
*/
.tituloOradores{
    padding: 15px;
    text-align: center;
}

.row{
text-align: center;
}

.textBold{
    font-weight: bold;
    font-size: 0.7rem;
}

.nombre{
    padding: 0.3rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.verde{
    color: rgb(21, 197, 47);
}

.oradores{
    padding: 0rem 8rem 2rem 10rem;
}

h4{
    font-weight: bold;
}

.parr{
    font-size: 0.95rem;
}

.playa-btn{
    padding: 0.5rem 1 rem;
    border-radius: 6px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 1rem;
    color: white;
}

.tarjetaPlaya{
    background-color: #353a40;
}

.formulario{
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
}

.btn-verd{
    background-color: #96c93e;
    color: white;
    
}

.bcg-azul{
    color:white;
    background-color: #1e4f6d;
}

.footer{
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-size:0.7em
}

.footer > a{
    
    padding: 1.8rem;
    line-height: 1.5;
    text-align: center;
    
}


.tarjeta{
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
        
}

.foot{
    flex: content;
    text-align: center;
    align-items: center;
    align-content: center;
}
/*
@media only screen and (max-width: 1500px) {
    .tarjeta{
        padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .tarjeta{
        margin-left: 0rem;  
        margin-right: 0rem;
    }
}

@media only screen and (max-width: 600px) {
    .tarjeta{
        margin-left: 0rem;  
        margin-right: 0rem;
    }
}

/*.tarjetas{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.tarjeta{
    margin: 0,5rem;
    border-style: solid;
    border-color: blue;
    border-radius: 0rem;
    text-align: center;
}*/

.formulario > cate{
    text-align: left;
   
}

.bcg-celeste{
    background-color: lightblue;
}

.logo{
    width: 6rem;
}