body{
    margin: 0mp;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.menu{
    background-color: #353a40;
    margin: 0rem;
    
}

.menub{
   padding-left: 5rem;
 
}

.tick-btn{
    color: rgb(51, 153, 51);
}

nav{
    display: block;
}


a{
    text-decoration: none;
}

.orador-btn{
    padding: 0.5rem 1 rem;
    border-radius: 6px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 20px;
    color: white;
}

.tickets-btn{
    padding: 0.5rem 1 rem;
    border-radius: 6px;
    background-color: #29a744;
    border-style: solid;
    border-width: 1px;
    background-color: #29a744;
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.tituloOradores{
    padding: 15px;
    text-align: center;
}


.textBold{
    font-weight: bold;
    font-size: 0.7rem;
}

.nombre{
    padding: 0.3rem;
    font-weight: bold;
    font-size: 1.1rem;
}

h4{
    font-weight: bold;
}

.parr{
    font-size: 0.95rem;
}

.playa-btn{
    padding: 0.5rem 1 rem;
    border-radius: 6px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 1rem;
    color: white;
}

.tarjetaPlaya{
    background-color: #353a40;
}

.formulario{
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
}

.btn-verd{
    background-color: #96c93e;
    color: white;
    
}

.bcg-azul{
    color:white;
    background-color: #1e4f6d;
}

.tarjeta{
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
        
}


.bcg-celeste{
    background-color: lightblue;
}

.logo{
    width: 6rem;
}

.foto{
    text-align: end;
    
}

@media only screen and (max-width:1500px) {
    .foto{
        padding-top: 20rem;
        padding-left: 44rem;
        padding-right: 8rem ;
    }
    .foto > h1{
        font-size: 2.1rem;
    }
    .foto > p{
        font-size: 1.1rem;
    }
    .foto > a{
        font-size: 1.1rem;
    }
    .oradores{
        padding: 0rem 9rem 2rem 9rem;
    }
    .footer{
        display: inline-flex;
        align-items: center;
        text-align: center;
        font-size:0.7em
    }
    
    .footer > a{
        
        padding: 1.8rem;
        line-height: 1.5;
        text-align: center;
        
    }
    
} 

@media only screen and (max-width:1000px) {
    .foto{
        padding-top: 8rem;
        padding-left: 23rem;
        padding-right: 4rem ;
        
    }
    .foto > h1{
        font-size: 1.5rem;
    }
    .foto > p{
        font-size:0.9rem
    }
    .foto > a{
        font-size: 0.9rem;
    }
    .oradores{
        padding: 0rem 0rem 2rem 0rem;
    }
    .footer{
        display: inline-flex;
        align-items: center;
        text-align: center;
        font-size:0.6em
    }
    
    .footer > a{
        
        padding: 0.8rem;
        line-height: 1.5;
        text-align: center;
        
    }
}

@media only screen and (max-width:600px) {
    .foto{
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem ;
    }
    .foto > h1{
        font-size: 1rem;
    }
    .foto > p{
        font-size:0.7rem
    }
    .foto > a{
        font-size: 0.7rem;
    }
    .oradores{
        padding: 0rem ;
    }
    .footer{
        display: inline-flex;
        align-items: center;
        text-align: center;
        font-size:0.5em
    }
    
    .footer > a{
        
        padding: 0.4rem;
        line-height: 1.5;
        text-align: center;
        
    }
}